body {
  color: #1b1919;
  background-color: #e4d9d9;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 40%;
  height: auto;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.country_list_counteiner {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.country_name {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

.county_list_el {
  list-style: none;
}
